<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PImp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PImp.Properties.Settings>
            <setting name="ImageSource" serializeAs="String">
                <value>O:\</value>
            </setting>
            <setting name="ImageDestination" serializeAs="String">
                <value>G:\My Photography</value>
            </setting>
            <setting name="ImageExtensions" serializeAs="String">
                <value>AVI BMP CR2 DNG GIF JPG MOV MP4 MPO PNG PSD TIF WAV XCF ORF</value>
            </setting>
        </PImp.Properties.Settings>
    </userSettings>
</configuration>